.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes

.depsrc

# Configuration
babel.config.cjs
tsconfig.json
jsconfig.json

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Jest
jest.config.*
src/__tests__
