.DS_Store

node_modules

.circleci
.husky

.editorconfig

.github
.gitattributes
.gitignore

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks

# ESLint
eslint.config.*

# Mocha
test
examples
